@if (privileges.canEditCell) {
    <button
        [disableRipple]="true"
        [matMenuTriggerFor]="menu"
        class="d-flex"
        mat-icon-button
        type="button"
    >
        <mat-icon>more_vert</mat-icon>
    </button>
}

<mat-menu #menu="matMenu">
    @if (privileges.canEditCell) {
        <button
            [disabled]="synchronizing"
            mat-menu-item
            type="button"
            (click)="showTimesheetHistoryHandle()"
        >
            <mat-icon>history</mat-icon>
            <span>Action history</span>
        </button>
    }

    @if (privileges.canEditCell) {
        <button
            [disabled]="synchronizing"
            [matMenuTriggerFor]="protection"
            mat-menu-item
            type="button"
        >
            <mat-icon>lock</mat-icon>
            <span>Locking</span>
        </button>
    }

    @if (privileges.canAddToTeam && isProject) {
        <button
            [disabled]="synchronizing"
            mat-menu-item
            type="button"
            (click)="addEmployeeToProjectHandle()"
        >
            <mat-icon>exposure_plus_1</mat-icon>
            <span>Add to project</span>
        </button>
    }

    @if (privileges.canAddToTeam && isTeam) {
        <button
            [disabled]="synchronizing"
            mat-menu-item
            type="button"
            (click)="addEmployeeToTeamHandle()"
        >
            <mat-icon>exposure_plus_1</mat-icon>
            <span>Add to team</span>
        </button>
    }

    @if (privileges.canEditCell) {
        <button
            [disabled]="synchronizing"
            appMatTooltipAutoHide
            mat-menu-item
            matTooltip="Synchronize with Hrvey"
            matTooltipPosition="above"
            type="button"
            (click)="synchronizeHandle()"
        >
            <img
                [class.grayscale]="synchronizing"
                alt="Hrvey logo"
                class="mat-icon"
                height="24"
                src="assets/media/logos/hrvey-logo.png"
                width="24"
            />
            <span>Synchronize...</span>
        </button>
    }

    @if (privileges.canEditCell) {
        <button
            [disabled]="synchronizing"
            appMatTooltipAutoHide
            mat-menu-item
            matTooltip="Regenerate Missing Cells"
            matTooltipPosition="above"
            type="button"
            (click)="regenerateHandle()"
        >
            <mat-icon>sync</mat-icon>
            <span>Regenerate...</span>
        </button>
    }
</mat-menu>

<mat-menu #protection="matMenu">
    @if (privileges.canEditCell) {
        <button
            [disabled]="isAllCellUnprotected"
            mat-menu-item
            type="button"
            (click)="unprotectTimesheetHandle()"
        >
            <mat-icon>lock_open</mat-icon>
            <span>Unlock</span>
        </button>
    }

    @if (privileges.canEditCell) {
        <button
            [disabled]="isAllCellProtected"
            mat-menu-item
            type="button"
            (click)="protectTimesheetHandle()"
        >
            <mat-icon>lock</mat-icon>

            <span>Lock</span>
        </button>
    }
</mat-menu>
