.legend-element .badge {
    position: absolute;
    bottom: calc(100% - 8px);
    left: calc(100% - 8px);

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    padding: 4px;

    font-size: 10px;
    line-height: 0;
    font-family: 'JetBrains Mono', monospace;

    color: white;
    text-shadow: 1px 1px 1px hsl(0deg 0% 0% / 100%);

    border: 1px solid var(--bs-light-border-subtle);
    border-radius: 50%;

    transition:
        box-shadow 75ms,
        transform 75ms;
    aspect-ratio: 1;
}

.legend {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    &-list {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        margin: 0;
        padding: 0;

        list-style: none;
        gap: 0.5rem 1.5rem;
    }

    &-element {
        position: relative;

        display: flex;
        padding: 0 4px 0 0;

        font-weight: 400;
        font-size: 14px;

        border-radius: 2px;

        transition:
            transform 125ms,
            box-shadow 75ms,
            border 125ms,
            background-color 125ms,
            opacity 125ms;

        cursor: pointer;
        gap: 2px;

        &:hover {
            box-shadow: 0 0 2px 1px var(--bs-light-border-subtle);
            opacity: 1 !important;

            transform: translateY(-1px);
        }

        &:hover .badge {
            box-shadow: 0 0 2px 1px var(--bs-light-border-subtle);

            transform: scale(1.25);
        }

        &__letter {
            display: inline-block;
            width: 16px;
            height: auto;

            font-weight: 400;
            font-size: 14px;
            font-family: 'JetBrains Mono', monospace;
            text-align: center;

            color: white;
        }
    }
}
