// ::ng-deep :host .mat-mdc-dialog-container {
//     overflow: hidden !important;
// }

.btn-warnings {
    padding-top: 2px;

    line-height: 24px;

    background: none;

    border: none !important;
}
