@if ({ filteredTeams: filteredTeams$.asObservable() | async }; as x) {
    <div>
        @if (data) {
            <h3 mat-dialog-title>Switch team</h3>
        }
        <button
            [disableRipple]="true"
            class="close"
            mat-icon-button
            type="button"
            (click)="dialogRef.close()"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <mat-form-field
            class="pb-2"
            subscriptSizing="dynamic"
        >
            <input
                [formControl]="filterControl"
                matInput
                placeholder="Type to filter..."
            />
            @if (filterControl.value) {
                <button
                    aria-label="Clear"
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="filterControl.patchValue('')"
                >
                    <mat-icon>close</mat-icon>
                </button>
            }
        </mat-form-field>

        <mat-selection-list
            [multiple]="false"
            color="primary"
            hideSingleSelectionIndicator
            (selectionChange)="select($event)"
        >
            @for (team of x.filteredTeams; track team.id) {
                <mat-list-option
                    [selected]="team.id === selectedTeam.id"
                    [value]="team"
                >
                    <span class="ms-2 align-middle">
                        {{ team.title }}
                    </span>
                </mat-list-option>
            } @empty {
                <span class="ms-2 align-middle"> No matches found </span>
            }
        </mat-selection-list>
    </div>
}
