.month-picker-wrapper {
    width: 240px;

    cursor: pointer;
}

.month-menu {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);

    padding: 12px 18px;
    gap: 4px;
}

.menu-item {
    padding: 8px;

    text-align: center;

    border-radius: 4px;

    cursor: pointer;
    user-select: none;
}

.selected-item {
    color: var(--bs-white);
    background: var(--bs-primary);
}

.current-month {
    border: 1px solid var(--bs-primary);
}
