<div class="flex-row">
    <aside class="tm-wrapper">
        <header class="tm-header">
            <h2 class="tm__title">Artists</h2>
        </header>
        <div class="tm tm-2">
            <div
                class="tm-child bg-primary"
                matTooltip="80%"
                matTooltipClass="kek"
            >
                <p class="tm-child__title">Junior</p>
            </div>
            <div
                class="tm-child bg-danger"
                matTooltip="20%"
            >
                <p class="tm-child__title">Senior</p>
            </div>
        </div>
    </aside>

    <aside class="tm-wrapper">
        <header class="tm-header">
            <h2 class="tm__title">Designers</h2>
        </header>
        <div class="tm tm-3">
            <div
                class="tm-child tm-child_xl bg-primary"
                matTooltip="60%"
            >
                <p class="tm-child__title">Junior</p>
            </div>
            <div
                class="tm-child bg-danger"
                matTooltip="30%"
            >
                <p class="tm-child__title">Middle</p>
            </div>
            <div
                class="tm-child bg-success"
                matTooltip="10%"
            >
                <p class="tm-child__title">Senior</p>
            </div>
        </div>
    </aside>

    <aside class="tm-wrapper">
        <header class="tm-header">
            <h2 class="tm__title">Programmers</h2>
        </header>
        <div class="tm tm-4">
            <div
                class="tm-child tm-child_xl bg-primary"
                matTooltip="65%"
            >
                <p class="tm-child__title">Intern</p>
            </div>
            <div
                class="tm-child bg-danger"
                matTooltip="20%"
            >
                <p class="tm-child__title">Junior</p>
            </div>
            <div
                class="tm-child bg-success"
                matTooltip="10%"
            >
                <p class="tm-child__title">Senior</p>
            </div>
            <div
                class="tm-child bg-warning"
                matTooltip="5%"
            >
                <p class="tm-child__title">Undefined</p>
            </div>
        </div>
    </aside>

    <aside class="tm-wrapper">
        <header class="tm-header">
            <h2 class="tm__title">Staff</h2>
        </header>
        <div class="tm tm-5">
            <div
                class="tm-child tm-child_xl bg-primary"
                matTooltip="60%"
            >
                <p class="tm-child__title">Intern</p>
            </div>
            <div
                class="tm-child tm-child_xl bg-danger"
                matTooltip="20%"
            >
                <p class="tm-child__title">Junior</p>
            </div>
            <div
                class="tm-child bg-success"
                matTooltip="12%"
            >
                <p class="tm-child__title">Middle</p>
            </div>
            <div
                class="tm-child bg-warning"
                matTooltip="6%"
            >
                <p class="tm-child__title">Senior</p>
            </div>
            <div
                class="tm-child bg-info"
                matTooltip="2%"
            >
                <p class="tm-child__title">Undefined</p>
            </div>
        </div>
    </aside>
</div>
